* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.quote {
    position: relative;
    background: url('../../assets/images/quote.png') right/contain no-repeat;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.quote-overlay {
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 10px;
    max-width: 800px;
    position: absolute;
    left: 70px;
}

.quote-section h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.quote-section span {
    color: #10B981;
}

.quote-section p {
    margin-top: 10px;
    font-size: 1.2rem;
    opacity: 0.8;
}