* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.quote {
    position: relative;
    background: url('../../../../assets/images/quote.png') right/contain no-repeat;
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.quote h2 {
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(135deg, #064E3B, #0F766E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    position: relative;
    left: 7%;
    top: 40%;
}

.quote span {
    color: #10B981;
}

.quote p {
    margin-top: 10px;
    font-size: 1.2rem;
    opacity: 0.8;
    background: linear-gradient(135deg, #064E3B, #0F766E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    position: relative;
    left: 7%;
    top: 40%;
}