* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.home {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #064e3b, #16a34a, #10b981);
    position: relative;
    overflow: hidden;
}

.hero {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.hero .content {
    position: relative;
    max-width: 600px;
    z-index: 2;
}

.hero .content h2 {
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 3.5rem;
    letter-spacing: 3px;
    margin-bottom: 2rem;
    line-height: 1.2;
    text-transform: uppercase;
    position: relative;
    left: 200px;
    top: -40px;
}

.hero .content h1 {
    font-size: 19vw;
    line-height: 1.2;
    opacity: 0.1;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: 100%;
    text-align: center;
}

.image {
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
    position: relative;
}

/* Tablet Devices */
@media screen and (max-width: 968px) {
    .hero {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 2rem;
    }

    .hero .content {
        margin-bottom: 3rem;
    }

    .hero .content h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.8rem;
        gap: 0.5rem;
        left: 30px;
        top: 10px;
    }

    .hero .content h1 {
        font-size: 20vw;
        top: 20%;
        left: 30%;
}

    .hero .content h1 small {
        font-size: 15vw;
    }

    .image {
        width: 70%;
        margin: 0 auto;
        left: -8%;
    }
}

/* Mobile Devices */
@media screen and (max-width: 576px) {
    .hero {
        padding: 1.5rem;
    }

    .hero .content h2 {
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1.5rem;
        left: 30px;
        top: 10px;
    }

    .hero .content h1 {
        font-size: 20vw;
        line-height: 1.5;
        top: 20%;
        left: 30%;
        width: 100%;
        gap: 1rem;
}

    .hero .content h1 small {
        font-size: 15vw;
    }

    .image {
        width: 50%;
        margin: 0 auto;
        left: -8%;
    }
}